source_path = "./data/Other-360/pinecone"
model_path = "./output/Other-360/pinecone"
iteration = 30000

skip_train = False
skip_test = True
skip_mesh = True
render_path = True

removal_thresh = 0.6
unseen_thresh = 0.0 # this will cause floaters mask in background, so I turn it off.
removal_region = "object_mask"
outlier_factor = 1.0
aggreagte_threshold = 0.6