
source_path = "./data/360-USID/cookie"
model_path = "./output/360-USID/cookie"
iteration = 30000
skip_test = False
skip_train = False
skip_mesh = True
render_path = True

# unseen mask args
dilate_mask_kernel_size = 5
dilate_mask_iter = 3


finetune_iteration = -1 # for unprojecting initial pts (default)
# finetune_iteration = 10000 # for finetuning


# AGDD args
dilate_iter = 5
kernel_size = 3
optimize_iter = 8
delta = 0.3

# finetuning
densify_until_iter = 1000